/* MAIN CSS */
a, h6{
  text-decoration: none;
  color: #8cabc5;
}
a:visited{
  color: #8cabc5;
  text-decoration: none;
}

body
{
  font-family: 'Julius Sans One', sans-serif;
  background-color: #1C2732;
  color: #ccc;
  margin: 0;
}

content{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

fieldset{
  text-align: left;
}

footer{
  text-align: right;
}

h1{
  color: #287290;
}

header{
}

.blue_box{
  background: #287290;
  padding: 10px;
}

.custom_container{
  background: #4c5152;
  padding: 5px 5%;
}

.custom_main_container{
  background: #3d464a;
  padding: 5px 5% 90px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  overflow: auto;
}

.log_console{
  background: #695673;
  padding: 5px 5%;
  font-size: 10px;
}
.svg_logo{
  max-width: 512px;
  margin: 0 auto;
}
.mvc{
  font-size: 100px;
}

.content_left{
  text-align: left;
}
.content_text{
  color: #586a75;
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  .mvc{
    line-height: 0;
  }
  .version, .custom_container h6{
    font-size: 10px
  }

}